#footerFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}
#leftFooter{
    margin-left: 5%;
}
#rightFooter{
    margin-right: 5%;
}
#footerSpace{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#socials img{
    padding-right: 16px;
}
#socials{
    margin-bottom: 16px;;
}
.footerp{
    margin-bottom: 16px;
}
.marginFix{
    margin-bottom: 24px;
}