$rose: #C71D5D; 
$coal: #2C3032; 
$cerulean: #007EAB;
$emerald: #007C41;
$orange: #F25700; 
$violet: #522CEB; 
$snow: #F2F0EA;


body, html {
    font-family: "Inter", "system-ui";
    font-size: 24px;
    font-weight: 400;
    background: snow;
    height: 100%;
    color: $coal;
  }
  h1{
    margin: 0px;
  }
  h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 80%;
  }
  .horizontalFlex{
    display: flex;
    flex-direction: row;
}
.verticalFlex{
    display: flex;
    flex-direction: column;
}
.center{
  justify-content: center;
  align-items: center;
}